#navbar {
  background-color: #182233;
  padding-bottom: 30px;
  border-bottom: #ea2e2e solid 4px;
  font-family: verdana;
  font-size: 20px;
}
#navbar a {
  text-decoration:none;
  padding-left: 15px;
  color: #ffffff;
}
#navbar .current {
  color: #ea2e2e;
  font-weight: bold;
}
#devitoButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 24px;
  width: 50%;
}
#devitoButton:hover {
  background-color: blue;
  color: white;
}
#devitoButton:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
