/* Global */
body {
  font-family: verdana, sans-serif;
  font-size: 16px;
  background-color: #c8cbd1;
  padding: 0;
  margin: 0;
}

.container {
  width:100%;
}

/* Section */
section {
  text-align: center;
}

/* Showcase */
#showcase {
  background: url(indexImages/showcase.jpg) no-repeat -100px -350px;
  color: #ffffff;
  padding-bottom: 200px;
}

#showcase h1 {
  padding-top: 10px;
}

/* Contact */
.contact {
  margin-top: 20px;
  height: 200px;
  background-color: #182233;
  border: 2px #ea2e2e solid;
  color: white;
}

.contact a {
  color: #ea2e2e;
  text-decoration: none;
}

/* Developer Tools */
#developerModeButton {
  width: 20%;
  background-color: #ffffff;
  font-size: 16px;
  color: #182233;
  border: none;
}
