#navbar {
  background-color: #182233;
  padding-bottom: 30px;
  border-bottom: #ea2e2e solid 4px;
}
.navigation {
  padding-left: 15px;
  color: white;
  font-family: verdana;
  font-size: 20px;
  text-decoration-line: none;
}
#submission {
  font-family: verdana;
  font-size: 16px;
}
#clickme {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 24px;
  width: 50%;
}
#clickme:hover {
  background-color: blue;
  color: white;
}
#clickme:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#reset {
  background-color: red;
  color: white;
  border: 2px solid black;
  font-size: 24px;
  width: 50%;
}
#reset:hover {
  background-color: white;
  color: red;
}
#reset:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#clicker {
  width:300px;
  height:200px;
}
#totalClicks {
  font-size: 24px;
  font-family: Georgia;
}
#upgrade {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 16px;
}
#upgrade:hover {
  background-color: orange;
}
#pictureUpdate {
  float: right;
  font-size: 24px;
  margin-right: 125px;
}
.changeLogList {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
}
#changeLogHeader {
  text-align: left;
}
