#navbar {
  background-color: lightgray;
}
.navigation {
  padding: 0 5px;
  color: black;
  font-family: verdana;
}
#instructions {
  font-size: 16px;
  font-family: verdana;
}
.games {
  height: 250px;
  width: 250px;
}
.games__wrap {
  position: relative;
  border: 2px solid black;
  height: 250px;
  width: 250px;
}
.games__wrap:hover .description {
  visibility: visible;
  opacity: 1;
}
.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(42, 141, 201, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-size: 24px;
  font-family: verdana;
}
