/* Header */
header {
  background: #182233;
  color: #ffffff;
  padding-top: 10px;
  min-height: 50px;
  border-bottom: 3px #ea2e2e solid;
  font-family: verdana;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding-right: 10px;
}

header ul {
  padding: 0;
  margin: 0;
}

header li {
  float:left;
  display:inline;
  padding-left: 10px;
}

header .current {
  font-weight: bold;
  color: #ea2e2e;
}

header .dropdown {
  position: relative;
  display: inline-block;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #182233;
  min-width: 100px;
  padding: 10px 12px;
  border: 2px solid #ea2e2e;
  z-index: 1;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown a:hover, header .dropdown-content a:hover, header a:hover {
  color: #c6d7f2;
}
