/* Global */
body {
  font-family: verdana;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* Everything Else */
#submission {
  font-family: verdana;
  font-size: 16px;
}
#gameSpace {
  border: 3px solid black;
  width: 500px;
  height: 200px;
  overflow: auto;
  background-color: rgba(65, 36, 51, .3);
}
#display {
  margin-left: 10px;
  font-family: arial;
  font-size: 16px;
}
#HiLo {
  color: black;
  font-family: arial;
  font-size: 16px;
}
