#navbar {
  background-color: #182233;
  padding-bottom: 30px;
  border-bottom: #ea2e2e solid 4px;
  font-family: verdana;
  font-size: 20px;
}
#navbar a {
  text-decoration:none;
  padding-left: 15px;
  color: #ffffff;
}
#navbar .current {
  color: #ea2e2e;
  font-weight: bold;
}
.games {
  height: 150px;
  width: 150px;
}
.games__wrap {
  position: relative;
  border: 2px solid black;
  height: 150px;
  width: 150px;
}
.games__wrap:hover .description {
  visibility: visible;
  opacity: 1;
}
.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(42, 141, 201, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-size: 24px;
  font-family: verdana;
}
